@page
@model PersonalWebsite.Pages.Projects.PastProjectsModel
@{
    ViewData["Title"] = "Projects";

}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PersonalWebsite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://kit.fontawesome.com/d1c6dc5735.css" crossorigin="anonymous">
</head>
<style>
    body {
        background: linear-gradient(135deg, #1B262C, #0F4C75, #3282B8);
        font-family: american typewriter, serif;
    }
    
    h1 {
        color: #F0F0F0;
        text-align: center;
        font-size: 40px;
        
        font-weight: bold;
    }
        h1:hover {
            transition: font-size 0.3s ease-in-out;
            font-size: 48px;
        }
    .project-container {
        background-color: #0F4C75;
        margin-bottom: 40px;
        padding: 20px;
        text-align: center;
        transition: all 0.25s ease;
    }
     .project-container:hover {
        transform: scale(1.05);
        transition: all 0.2s ease-in-out;
    }

    .project-title {
        font-size: 25px;
        margin-top: 10px;
        color: white;

    }

    .project-description {
        font-size: 16px;
        margin-top: 10px;
        color: white;
    }

    
    .btn {
        background: white;
        border-radius: 20px;
        font-size: .9rem;
        color: #3282B8;
        margin-top: 5px;
        margin-bottom: 15px;
        padding: 10px 25px;
        transition: all 0.25s ease;
    }

      
    
</style>
<br />
<h1></h1>

<div class="container mt-5 d-flex justify-content-center">

    <div class="col-md-8 mb-4">
        <div class="project-container">
            <h3 class="project-title">OfficeOURS Queue Management System</h3>
            <button class="btn" id="toggle-button" onclick="toggleEmbeds()">Click to View Digital Documentation</button>
            <embed id="file1" src="~/Projects/OfficeOURS Pitch Deck.pdf" width="100%" height="500px" />
            <embed id="file2" src="~/Projects/OfficeOURS Digital Documentation.pdf" width="100%" height="500px" style="display: none;" />
            <p class="project-description">
                Lead Developer on a team of 11 capstone students aiming to plan, design, and develop a CRUD application to automate the office hours process at JMU.
            </p>
            <p class="project-description">
                Led throughout the product development lifecycle to create database schemas, design user interface mockups, and develop core application functionality such as create/signup features, queue manager, password encrption, live notifications, mobile responsiveness, data collection/visualization, etc.
            </p>
            <p class="project-description">
                Collaborated directly with cross-functional colleagues within the School of Media Arts & Design to enchance the application design and experience.
            </p>
            <p class="project-description">
                Utilized C# (.NET), HTML/CSS, Javascript, and SQL Server to develop the application and AWS EC2 and RDS to deploy it to the cloud.
                Conducted bi-weekly sprints in an agile development environment and led presentations to clients during sprint reviews.
            </p>
            <p class="project-description">Placed 3rd amgonst 12 teams consisting of 150 seniors.</p>

        </div>



    
    
        <div class="project-container">
            <h3 class="project-title">Veterans Affairs Technological Modernization Strategy Plan</h3>
            <embed src="~/Projects/VACaseSolution.pdf" width="100%" height="500px" />

            <p class="project-description">Project manager to lead a team of 4 and design a solution to modernize the technology utilized by the Veterans Health Association.</p>
            <p class="project-description">Placed 1st out of 28 teams.</p>
        </div>
    
    
        <div class="project-container">
            <h3 class="project-title">Wags And Purrs System Proposal</h3>
            <embed src="~/Projects/WagsAndPurrs.pdf" width="100%" height="500px" />

            <p class="project-description">Project manager/systems analyst to design a proposal to automate and modernize the day-to-day operations of a local animal care/boarding facility.</p>
        </div>
    


</div>
    </div>





@section Scripts {
    <script src="https://kit.fontawesome.com/your-kit-code.js" crossorigin="anonymous"></script>
    <script>const text = "Projects";
        let index = 0;
        const h2 = document.querySelector("h1");
        const typing = setInterval(() => {
            h2.textContent += text[index];
            index++;
            if (index === text.length) clearInterval(typing);
        }, 100);</script>
    <script>
        function toggleEmbeds() {
            var toggleButton = document.getElementById("toggle-button");
            var file1 = document.getElementById("file1");
            var file2 = document.getElementById("file2");

            if (file1.style.display === "none") {
                file1.style.display = "block";
                file2.style.display = "none";
                toggleButton.innerHTML = "Click to View Digital Documentation";
            } else {
                file1.style.display = "none";
                file2.style.display = "block";
                toggleButton.innerHTML = "Click to View Project Overview";
            }
        }



    </script>

}