@page
@model PersonalWebsite.Pages.Services.FreeConsultationModel
@{
    ViewData["Title"] = "Free Consultation";

}

<style>
    body {
        background: linear-gradient(135deg, #1B262C, #0F4C75, #3282B8);
        font-family: american typewriter, serif;
    }

    h1 {
        color: #F0F0F0;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

        h1:hover {
            transition: font-size 0.3s ease-in-out;
            font-size: 48px;
        }
    h4 {
        color: #F0F0F0;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    h2 {
        color: #F0F0F0;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: black;
    }

    h6 {
        font-size: 1.2rem;
        color: white;
        text-align: center;
        color: black;
    }

    h3 {
        color: black;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .testimonial {
        margin: 1rem;
        padding: 2rem;
        background-color: #F0F0F0;
        border-radius: 1rem;
    }
    .btn {
        padding: 1rem;
        background: linear-gradient(135deg, #1B262C, #0F4C75, #3282B8);
        color: #F0F0F0;
        border: none;
        border-radius: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
    }

        .btn:hover {
            transform: scale(1.1);
        }
</style>
<br />

<h1></h1>

<div class="testimonial">
    <h3>Why Should You Work With Us?</h3>

    <h6>
        At RocheStrategy, our goal is to help you create elegant and efficient solutions to your business' technological hurdles
        while providing you with a strategy to maximize the impact of your investment.
    </h6>
    <br />
    <h2>What You Gain From Our Free Consultation</h2>
    <h6>
        Our team will conduct a thorough assessment of your current technology infrastructure and business processes to identify gaps and areas for improvement.
        We will provide you with a plan to help you decide if our services will indeed bring value to your business and help you build stronger relationships with your customers.  
    </h6>
    <br />
    <h2>What's The Catch?</h2>
    <h6>Nothing! We will gladly meet with you completely free of charge, with our only goal being to help add long-term value to your business.</h6>

</div>
<br />
<h4 style="text-align: center;">Interested in Moving Forward? Contact Me Below!</h4>
<div class="mt-4" style="text-align: center;">

    <a href="mailto:rochestrategy@gmail.com" class="btn btn-primary" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
    <a class="btn btn-primary" href="tel:+17036776187"><i class="fas fa-phone fa-2x"></i> (703)-677-6187</a>

</div>
<script src="https://kit.fontawesome.com/d1c6dc5735.js" crossorigin="anonymous"></script>

<script>const text = "Free Consultation";
    let index = 0;
    const h2 = document.querySelector("h1");
    const typing = setInterval(() => {
        h2.textContent += text[index];
        index++;
        if (index === text.length) clearInterval(typing);
    }, 100);</script>
